
.sidebar {
    z-index: 1;
    top: 0;
    background: #30577e;
    margin-top: -222px;
    padding-top: 30px;
    left: 0;
    width: 216px;
    height: calc(100% - 9%);
    transition: 0.5s;
    transition-property: left;
    overflow-y: auto;
    padding-bottom: 1%;    
    display: contents;
}
#Category_Card {
    width: 255px;
    height: 600px;
    left: 165px;
    top: 930px;
    overflow: visible;
}
.sidebar a {
    color: #fff;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
}